.jazz{
   background-image: url("images/jazz.gif");
}

.movies{
   background-image: url("images/movies.gif");
}

.gaming{
   background-image: url("images/gaming.gif");
}

.chill{
   background-image: url("images/chill.gif");
}

.blues{
   background-image: url("images/blues.gif");
}

.classic{
   background-image: url("images/classics.gif");
}

.rock{
   background-image: url("images/rock.gif");
}

.japan{
   background-image: url("images/japan.gif");
}

/* POLICIES */

/* POLICE NAVBAR */
@font-face{font-family:'AlwynRegular'; src:url('AlwynRegular.ttf');}

nav, h2{
   font-family: 'AlwynRegular';
   color: #FFA500;
}




/* NAVBAR */
.navbar {
  border-left: 1px solid #FFA500;
  border-bottom: 1px solid #FFA500;
  border-right: 1px solid #FFA500;
  border-radius: 20px;
}

.logo {
  height: 70px;
  width: 70px;
}

.navbar-light
.navbar-nav
.nav-link {
  color: #FFA500;
}

.navbar-light .navbar-brand {
  color: #FFA500;
  font-size: 1.4em;
  font-weight: bold;
}

.navbar-light .navbar-brand:hover {
  color: #FFA500;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.2em;
}

.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 1px solid #FFA500 ;
  font-size: 1.2em;
  color: #FFA500;
  padding-bottom: 0px;
}
/* END NAVBAR */

/* VOS PLAYLISTS PREFEREES - 8 playlists prefered */

.title_area_playlists_prefered{
   background-color: none;
}

.thefirstfour_playlists_area_playlists_prefered{
   background-color: none;
   min-height: 260px;
}

.zone1{
   background-color: red;
}

.titre2 {
      border: 1px solid #FFA500;
      border-radius: 20px;
      font-family:
}

.area_playlists_prefered {
      background-color: none;
}
/* END VOS PLAYLISTS PREFEREES - 8 playlists prefered */

/* FOOTER */

.img-footer {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 30px;
}

.three-areas-footer li {
  list-style-type: none;
}

.area_footer {
  font-size: 20px;
}
/* END FOOTER */
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0%;
    padding-bottom: 50px;
}
.card{
    background-color: rgba(255, 222, 165, 0.3)
}
.nav-link{
    padding: 0%;
}
.anahita{
    text-align: center;
}
button{
    text-align: center;
}
