/* POLICIES */

/* POLICE NAVBAR */
@font-face{font-family:'AlwynRegular'; src:url('AlwynRegular.ttf');}

nav, h2{
   font-family: 'AlwynRegular';
   color: #F9A02E;
}




/* NAVBAR */
.navbar {
  border-left: 1px solid #F9A02E;
  border-bottom: 1px solid #F9A02E;
  border-right: 1px solid #F9A02E;
  border-radius: 20px;
}

.logo {
  height: 70px;
  width: 70px;
}

.navbar-light
.navbar-nav
.nav-link {
  color: #F9A02E;
}

.navbar-light .navbar-brand {
  color: #F9A02E;
  font-size: 1.4em;
  font-weight: bold;
}

.navbar-light .navbar-brand:hover {
  color: #F9A02E;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.2em;
}

.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 1px solid #F9A02E;
  font-size: 1.2em;
  color: #F9A02E;
  padding-bottom: 0px;
}
/* END NAVBAR */

/* VOS PLAYLISTS PREFEREES - 8 playlists prefered */

.title_area_playlists_prefered{
   background-color: none;
}

.thefirstfour_playlists_area_playlists_prefered, .thesecondfour_playlists_area_playlists_prefered{
   background-color: none;
   min-height: 260px;
}

.zone1{
   background-color: red;
}

.titre2 {
      border: 1px solid #F9A02E;
      border-radius: 20px;
      font-family:
}

.area_playlists_prefered {
      background-color: none;
}
/* END VOS PLAYLISTS PREFEREES - 8 playlists prefered */

/* PLAYLIST PAR WILDERS */

.btn-link {
  width: 100%;
  padding: 10px;
  color: #F9A02E;
  font-weight: bold;
  font-size: 16px;
}

.btn-link:hover {
  font-size: 20px;
  color: #F9A02E;
}

.links-img {
  padding: 0;
  max-width: 200px;
  margin: 20px;
}

.card-header {
  height: 52px;
  padding: 0;
  background-color: rgba(251,162,88, 0.2);
}

.card-body {
  background-color: rgba(255,222,165, 0.3);
}

.img-card {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

/* FOOTER */


.links-site-wild li,
.three-areas-footer li {
  list-style-type: none;
}

 .links-footer a {
   color: #F9A02E;
 }

.area_footer {
  font-size: 16px;
}
/* END FOOTER */
