.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0%;
    padding-bottom: 50px;
}
.card{
    background-color: rgba(255, 222, 165, 0.3)
}
.nav-link{
    padding: 0%;
}
.anahita{
    text-align: center;
}
button{
    text-align: center;
}